<div class="calendar_header">
    <MediaQuery Media="@Breakpoints.SmallDown">
        <Unmatched>
            <div class="left_options">
                <button class="primary_button ">ALL RELEASES</button>
            </div>
            <div class="center_options">
                <button class="icon_button calendar">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.04 1.45455H13.76C14.552 1.45455 15.2 2.10909 15.2 2.90909V14.5455C15.2 15.3455 14.552 16 13.76 16H2.24002C1.44802 16 0.800021 15.3455 0.800021 14.5455V2.90909C0.800021 2.10909 1.44802 1.45455 2.24002 1.45455H2.96002V0L4.40002 0V1.45455H11.6V0L13.04 0V1.45455ZM2.24007 14.5456H13.7601V5.09102H2.24007V14.5456Z" fill="#22282F"/>
                    </svg>
                </button>
                <button class="icon_button list">
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.52001C0 0.789612 0.57946 0.200012 1.2973 0.200012C2.01514 0.200012 2.5946 0.789612 2.5946 1.52001C2.5946 2.25041 2.01514 2.84001 1.2973 2.84001C0.57946 2.84001 0 2.25041 0 1.52001ZM0 6.80002C0 6.06962 0.57946 5.48002 1.2973 5.48002C2.01514 5.48002 2.5946 6.06962 2.5946 6.80002C2.5946 7.53042 2.01514 8.12002 1.2973 8.12002C0.57946 8.12002 0 7.53042 0 6.80002ZM1.2973 10.76C0.57946 10.76 0 11.3584 0 12.08C0 12.8016 0.588108 13.4 1.2973 13.4C2.00649 13.4 2.5946 12.8016 2.5946 12.08C2.5946 11.3584 2.01514 10.76 1.2973 10.76ZM16 12.96H3.89189V11.2H16V12.96ZM3.89189 7.68004H16V5.92004H3.89189V7.68004ZM3.89189 2.40003V0.640033H16V2.40003H3.89189Z" fill="#22282F"/>
                    </svg>
                </button>
            </div>
            <div class="right_options">
               <AstroLegend></AstroLegend>
                <select class="primary_button" @onchange="OnViewSelected">
                    <option value="@View.Month">Month</option>
                    <option value="@View.Week">Week</option>
                    <option value="@View.Day">Day</option>
                    <option value="@View.MonthAgenda">Mobile</option>
                </select>                
            </div>
        </Unmatched>
        <Matched>
            <div class="left_options">
                <svg class="search_icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7124 14.0629H15.4351L20 18.6369L18.6369 20L14.0629 15.4351V14.7124L13.8159 14.4563C12.773 15.3528 11.4191 15.8925 9.94626 15.8925C6.66209 15.8925 4 13.2304 4 9.94626C4 6.66209 6.66209 4 9.94626 4C13.2304 4 15.8925 6.66209 15.8925 9.94626C15.8925 11.4191 15.3528 12.773 14.4563 13.8159L14.7124 14.0629ZM5.82954 9.94617C5.82954 12.224 7.6683 14.0628 9.94617 14.0628C12.224 14.0628 14.0628 12.224 14.0628 9.94617C14.0628 7.6683 12.224 5.82954 9.94617 5.82954C7.6683 5.82954 5.82954 7.6683 5.82954 9.94617Z" fill="#C2C5C7"/>
                </svg>
                <input class="search_input" type="text" placeholder="Search">
                <button class="primary_button ">
                    ALL RELEASES
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2 14.3529L13.6 20L12.2747 18.6635L15.6253 15.2941H5.20001L5.20001 4H7.06668V13.4118H15.6253L12.2747 10.0424L13.6 8.70588L19.2 14.3529Z" fill="#48629D"/>
                    </svg>
                </button>
            </div>
        </Matched>
    </MediaQuery>
</div>

@code {

    [Parameter]
    public EventCallback<ChangeEventArgs> OnViewSelected { get; set; }

}