@page "/"
@using Demos.Sf.Models

<style>
    .calendar_view {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .schedule-container {
        height: calc(100vh - 116px);
    }

    .calendar_header {
        height: 60px;
        width: 100%;
    }

    .right_drawer_container {
        background-color: #F1F2F2;
        min-height: 100%;
        min-width: 279px;
        width: 279px;
    }

    .date-picker {
        width: 100%;
    }

        .date-picker .e-calendar {
            width: 100%;
            max-width: 100%;
            background: transparent;
            border: none;
        }

            .date-picker .e-calendar .e-content tr.e-month-hide,
            .e-calendar .e-content td.e-other-month > span.e-day {
                display: block;
            }

    .e-play-calendar::before {
        content: "\e322";
    }
</style>

<div class="calendar_view">
    <div class="calendar_container">
        <CalendarHeader OnViewSelected="OnCalendarViewChange"></CalendarHeader>

        <div class="schedule-container">
            <SfSchedule TValue="Appointment" AllowDragAndDrop="false" AllowResizing="false" StartHour="07:00" Width="100%" Height="100%" ShowHeaderBar="false" SelectedDate="@SelectedDate" CurrentView="@CurrentView"  >
                <ScheduleEvents TValue="Appointment"></ScheduleEvents>

                <ScheduleViews>
                    <ScheduleView Option="View.Day"></ScheduleView>
                    <ScheduleView Option="View.Week"></ScheduleView>
                    <ScheduleView Option="View.Month" MaxEventsPerRow="8">
                        <EventTemplate>
                            @{
                                var appointment = (context as Appointment);
                                <div>
                                    <p>@appointment.Id</p>
                                    <p>@appointment.Subject</p>
                                    <p>@appointment.StartTime.ToString("hh:mm tt")</p>
                                </div>
                            }
                        </EventTemplate>
                    </ScheduleView>
                </ScheduleViews>               

                <ScheduleEventSettings DataSource="AppointmentsData"></ScheduleEventSettings>
            </SfSchedule>
        </div>
    </div>
    <div class="right_drawer_container">
        <div class="date-picker">
            <SfCalendar TValue="DateTime" ShowTodayButton="@false" Value="@SelectedDate">
                <CalendarEvents TValue="DateTime" ValueChange="CalendarValueChanged"></CalendarEvents>
            </SfCalendar>
            <SfButton CssClass="e-flat" IsPrimary="true" IconCss="e-icons e-play-calendar" @onclick="() => SelectedDate = DateTime.Now" IconPosition="@IconPosition.Left">Today</SfButton>
        </div>
    </div>
</div>
