@page "/"
@using Demos.Sf.Models
@using Demos.Sf.Services
@inject BrowserService Service

@if (_dataLoaded)
{
    <div class="calendar_view">
        <div class="calendar_container">
            <CalendarHeader OnViewSelected="OnCalendarViewChange"></CalendarHeader>
            <MediaQuery Media="@Breakpoints.SmallDown">
                <Unmatched>
                    <CalendarComponent AppointmentsData="AppointmentsData" Holidays="_holidays" CurrentView="@CurrentView" SelectedDate="@SelectedDate"></CalendarComponent>
                </Unmatched>
                <Matched>
                    <MobileCalendarComponen AppointmentsData="@AppointmentsData" Holidays="@_holidays" SelectedDate="@SelectedDate"></MobileCalendarComponen>
                </Matched>
            </MediaQuery>
        </div>
        <div class="right_drawer_container">
            <div class="date-picker">
                <SfCalendar TValue="DateTime" ShowTodayButton="@false" @bind-Value="@SelectedDate">
                    <CalendarEvents TValue="DateTime" ValueChange="CalendarValueChanged"></CalendarEvents>
                </SfCalendar>
                <SfButton CssClass="e-flat" IsPrimary="true" IconCss="e-icons e-play-calendar" @onclick="() => SelectedDate = DateTime.Now" IconPosition="@IconPosition.Left">Today</SfButton>
            </div>
        </div>
    </div>
}
